<div class = "header">
  <div class = "wrapper">
    <div class = "side-bar-header">
      <div class = "heder-name">
        <a href = "#">美味しいうどん千葉駅前店</a>
      </div>  
      
    </div>
      <div class = "check-header">
        <div class = "left-header">
          <div class = "header-title">
            closed-app
          </div>
        </div>
        <div class = "right-header">
          <div class = "header-button">
            <a href = "new_user_session_path">ログイン</a>
            <a href = "closes_path">ログアウト</a>
            <a href = "new_user_registration_path">新規登録</a>
          </div>
        </div>
      </div>
  </div>
</div>