<div class = "header">
  <div class = "wrapper">
    <div class = "side-bar-header">
      <div class = "heder-name">
        <a href = "#">美味しいうどん千葉駅前店</a>
      </div>  
      
    </div>
      <div class = "check-header">
        <div class = "left-header">
          <div class = "header-title">
            closed-app
          </div>
        </div>
        <div class = "right-header">
          <div class = "header-button">
    
            <%= link_to "ログイン", new_user_session_path%>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete%>
            <%= link_to "新規登録", new_user_registration_path%>
          </div>
        </div>
      </div>
  </div>
</div>