<div class = "check-main">
  <div class = "check-mains">
    <div class = "log-button">
      <%= link_to "もどる",  root_path %>
    </div>
    <div class = "log-title">
      閉店チェックした日付
    </div>
  </div>
  <% if user_signed_in?%> 
  <% @close.where(user_id: current_user.id).each do |close| %>
 <div class = "logtexts">
    <div class = "logtext">
      <%= close.created_at.strftime('%Y/%m/%d')%>閉店しました！
         <%end%>
        <%end%> 
       <%if @close.nil?%>
         (例)2020/10/19閉店しました！
        <%end %> 
    </div>
  </div>
  
