<div class = "check-main">
  <div class = "check-mains">
    <div class = "log-button">
      <%= link_to "もどる",  root_path %>
    </div>
    <div class = "log-title">
      閉店チェックした日付
    </div>
  </div>
 <div class = "logtexts">
    <div class = "logtext">
      2020/3/31（木）
      閉店チェックしました
    </div>
  </div>
</div>
<div class = "check-answer">
</div>