<div class = "check-main">
  <div class = "check-mains">
    <div class = "log-button">
      <% if user_signed_in? %>
        <%= link_to "ログを参照する", close_path(current_user.id) %>
      <%else%>
        <%= link_to "ログを参照する", "#" %>
      <%end%>
    </div>
  </div>
    <div class = "block">
      <h2 class = "marubatubuttonok" id = "buttun1ok">○</h2>
      <h2 class = "marubatubuttonng" id = "buttun1ng">×</h2>
      <h2 class = "marubatubuttonok" id = "buttun2ok">○</h2>
      <h2 class = "marubatubuttonng" id = "buttun2ng">×</h2>
      <h2 class = "marubatubuttonok" id = "buttun3ok">○</h2>
      <h2 class = "marubatubuttonng" id = "buttun3ng">×</h2>
      <h2 class = "marubatubuttonok" id = "buttun4ok">○</h2>
      <h2 class = "marubatubuttonng" id = "buttun4ng">×</h2>
    </div>
</div>
<div class = "check-answer">
</div>