<div class = "check-header">
  <div class = "left-header">
    <div class = "header-title">
      closed-app
    </div>
  </div>
  <div class = "right-header">
    <div class = "header-button">
      <a href = "#">ログイン</a>
      <a href = "#">ログアウト</a>
      <a href = "#">新規登録</a>
    </div>
  </div>
</div>
<div class = "check-main">
  <div class = "check-mains">
    <div class = "log-button">
    <a href = "#">ログを参照する</a>
    </div>
  </div>
</div>
<div class = "check-answer">
</div>