<div class = "check-main">
  <div class = "check-mains">
    <div class = "log-button">
    <%= link_to "ログを参照する" %>
    </div>
    <%# close_path %>
  </div>
</div>
<div class = "check-answer">
</div>