<div class = "check-main">
  <div class = "check-mains">
    <div class = "log-button">
    <%= link_to "ログを参照する", close_path(current_user.id) %>
    </div>
  </div>
</div>
<div class = "check-answer">
</div>