<div class = "check-main">
   <div class = "check-mains">
        <div class = "log-button">
        <%= link_to "もどる", closes_path%>
        </div>
        <div class = "log-title">
          チェックリストの編集
        </div>
  </div>
    <%= form_with model: [@closes], url:  closes_path, method: :post,  local: true do |f|%>
    <div class = "edittexts">
        <div class = "text-area-input">
          <%= text_area_tag(:check_list, "（例）ウォッシャー電源切った", size: "30x20",class: "check_list") %>
        </div>
        <div class = "button">
        <%= submit_tag "編集", class: "edit_button" %>
       </div>
    </div>
    <%end%>
</div>
<div class = "check-answer">
</div>