

<div class = "side-bar-main">
  <div class = "side-bar-mains">
    <div class = "check-list-title">
    チェックリスト
    </div>
    <div class = "edit-check-list">
        <%= link_to "チェックリストを編集する", new_close_path %>
      </div>
     
    <div class = "check-list">
      <a>炊飯器が空なこと</a>
    </div>
  </div>
</div>