<div class = "side-bar-header">
  <div class = "heder-name">
    <a href = "#">美味しいうどん千葉駅前店</a>
  </div>  
  <div class = "edit-check-list">
    <a href = "#">チェックリストを編集する</a>
  </div>
</div>

<div class = "side-bar-main">
  <div class = "side-bar-mains">
    <div class = "check-list-title">
    チェックリスト
    </div>
    <div class = "check-list">
      <a>・炊飯器が空なこと</a>
    </div>
  </div>
</div>