

<div class = "side-bar-main">
  <div class = "side-bar-mains">
    <div class = "check-list-title">
    チェックリスト
    </div>
    <div class = "edit-check-list">
        <%= link_to "チェックリストを編集する", new_close_path %>
      </div>
   
    <div class = "check-list">
    <h2 class = "name">
    <%= @lists[0].check_list if @lists.present?%>
    <%if @lists.nil?%>
   ウォッシャー電源止めて水抜いた<br>食材期限確認した<br>フライヤー電源止めた<br>炊飯器洗った
   <%end%>
   </h2>
    </div>
   
  </div>
</div>