

<div class = "side-bar-main">
  <div class = "side-bar-mains">
    <div class = "check-list-title">
    チェックリスト
    </div>
    <div class = "edit-check-list">
        <%= link_to "チェックリストを編集する", new_close_path %>
      </div>
   
    <div class = "check-list">
    <h2 class = "name">
   
    <%= @lists[0].check_list%>
   
   </h2>
    </div>
   
  </div>
</div>