<div class = "side-bar-main">
  <div class = "side-bar-mains">
    <div class = "check-list-title">
      チェックリスト
    </div>
     <%if user_signed_in?%>
    <div class = "edit-check-list">
      <%= link_to "チェックリストを編集する", new_list_path %>
    </div>
    <div class = "check-list">
      <h2 class = "name">
         <%if @list.present?%>
         <%@list.where(user_id: current_user.id).each do |list| %>
             <%=list.check_list%>
        <%end%> 
        <%end%> 
        <%end%> 
        <%if @list.nil?%>
          ウォッシャー電源止めて水抜いた<br>食材期限確認した<br>フライヤー電源止めた<br>炊飯器洗った
        <%end%> 
      </h2>
   </div>
  </div>
</div>