

<div class = "side-bar-main">
  <div class = "side-bar-mains">
    <div class = "check-list-title">
    チェックリスト
    </div>
    <div class = "edit-check-list">
        <a href = "#">チェックリストを編集する</a>
      </div>
    <div class = "check-list">
      <a>炊飯器が空なこと</a>
    </div>
  </div>
</div>