.wrapper {
  display: flex;
}
.side-bar {
  background-color:#165e83;
  width: 300px;
  overflow: scroll;
}
.header {
  background-color: #e8ecef;
  height: 100px;
}
.side-bar-header {
  background-color:#165e83;
  width: 300px;
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: start;
}
.heder-name{
  margin-top: 10px;
}
.heder-name a {
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}
.edit-check-list {
  font-size: 14px;
}
.edit-check-list a {
  border: 1px solid lightblue;
  padding: 14px;
  color: deepskyblue;
  text-decoration: none;
}
.side-bar-main {
  height: calc(100vh - 100px);
  padding: 0 20px;
}
.side-bar-mains{
  padding: 20px 0 40px;
}
.check-list-title {
  text-decoration: none;
  color: white;
  padding: 24px 0;
  font-size: 24px;
}
.check-list  {
  margin-top: 30px;
}
.check-list a {
  font-size: 18px;
  color: #FAFAFA;
  text-decoration: none;
}
.main {
  background-color: #abced8;
  width: calc(100vw - 300px);
}
.log {
  background-color: #abced8;
  width: calc(100% - 300px);
}
.new {
  background-color: #abced8;
  width: calc(100% - 300px);
}
.log-title{
  color: black;
  font-size: 24px;
}
.logtexts{
  display: flex;
  margin-top: 75px;
  overflow: scroll;
  font-size: 18px;
}
.edittexts{
  display: flex;
  margin-top: 75px;
  justify-content: space-around;
  flex-direction: column;
  align-items: start;
}
.edit_button{
  background-color: #19448e;  border: none;
  color: #FAFAFA;
  font-size: 16px;
  height: 50px;
  width: 290px;
  padding: 0 20px;
}
.check-header {
  justify-content: space-between; 
  width: calc(100vw - 300px);
  padding:  0 40px;
  display: flex;
}
.header-title {
  color: black;
  font-size: 24px;
  margin-top: 36px;
}
.header-button {
  margin-top: 40px;
}
.header-button a {
  text-decoration: none;
  border: 1px solid darkred;
  color: darkred;
  padding:20px
}
.check-main {
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
}
.log-button {
  display: flex;
  float: right;
}
.log-button a{
  text-decoration: none;
  border: 1px solid black;
  color: black;
  padding:20px
}
.check-answer  {
  background-color: #e8ecef;
  height: 90px;
  padding: 20px 40px;
}
.container{
  margin: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.new_user{
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}
.submit{
  background-color: #19448e;
  border: none;
  border: 1px solid #abced8; 
  color: white;
  font-size: 16px;
  height: 50px;
  margin: 20px;
  padding: 0 20px;
}
.sin-up-area{
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  align-items: center;
}
.field{
  padding: 20px;
}
.label-field{
 padding: 20px;
}
.sin-up-areas{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.formbrock{
  display: flex;
  justify-content: flex-end;
}
.form {
  background-color: #abced8;
  border: none;
  color: black;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}
.error-message {
  color: red;
  font-size: 18px;
  display: flex;
  margin-top: 50px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.check-list>.name {
  text-align: start;
  font-size: 25px;
  white-space: pre-line;
  color: #FAFAFA;

}
.under-button{
  display: flex;
  justify-content: center;
  align-items: end;
}
.block{
  display: flex;
  justify-content: space-around;
}
.marubatubutton{
  display: flex;
  justify-content: space-around;
  font-size: 60px;
  border: 3px solid black;
  padding: 40px;
  margin:  60px;

}